.navbar2 {
    background-color: #7783c8;
    height: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 777777;
  }
  
  .menu-bars2 {
 
    margin-top: .5rem;
    font-size: 1.6rem;
    z-index: 7777777;
    background: none;
    color:rgb(199, 173, 120);
  }
  .notdisplay{
    display:none;
  }
  .menu-bars22 {
     
    margin-top: 0rem;
    font-size: 2rem;
    z-index: 7777777;
    background: none;
    color:rgb(255, 255, 255);
   }
  .menu-bars2:hover {
   
    color:rgba(153, 127, 34, 0.778);
  }
  .classimage3{
   display: block;
   width: 90%;
   margin: auto;
 
  }
  .close444{
    direction: rtl;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .nav-menu2 {
   
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 
    border: 1px solid rgba(255, 255, 255, 0.3);
 
    background: rgba(224, 214, 178, 0.697);
  
    box-shadow: 0 4px 30px rgba(239, 232, 232, 0.472);
    backdrop-filter: blur(15px);
  overflow-y: scroll;


    
    width: 230px;
    height: 100vh;
    z-index: 777777;
  
   
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  .nav-menu2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  .menu-bars22:hover {
    color: #978345;
  }
  
  .nav-menu2.active2 {
    left: 0;
    z-index: 777777;
    transition: 350ms;
  }
  
  .nav-text2 {
    display: flex;
    z-index: 777777;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text2 a {
    text-decoration: none;
    color: #f5f5f5;
    z-index: 777777;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text2 a:hover {
    background-color: #978345;
    z-index: 777777;
    color:rgb(238, 237, 237)
  }
  
  .nav-menu-items2 {
    width: 90%;
    margin:auto;
    z-index: 777777;
    margin-bottom: 3rem;
   
  }
  
  .navbar-toggle2 {
    
    
   
   
    z-index: 777777;
  
  }
  
.span {
    margin-left: 1rem;
    z-index: 777777;
  }