.recommendedvideos {
    flex: .9;
    background-color: #f9f9f9;
    padding: 10px 0px;
    padding-bottom: 0;
}

.recommendedVideos > h2 {
    margin-left: 5px;
    margin-bottom: 10px;
}

.recommendedvideos__videos {
    display: flex;
    flex-wrap: wrap;
}

.recommendedvideos__videos > * {
    margin-left: 3%;
}
