h1{
  font-size: 28px;
   }
   h2{
      font-size: 26px;
   }
   h3{
      font-size: 24px;
   }
   h4{
      font-size: 22px;
   }
   h5{
      font-size: 20px;
   }
   h6{
      font-size: 18px;
   }
   p,li,a{
      font-size:16px;
   }
   span{
      font-size:16px;
   }
   input{
      font-size: 16px;
   }
   button{
      font-size: 16px;
   }
   strong{
      font-size: 16px;
   }
   b{
      font-size: 16px;
   }
   small{
      font-size: 14px;
   }
   @media  (max-width:660px) {
      h1{
          font-size: 19px;
           }
           h2{
              font-size: 17px;
           }
           h3{
              font-size: 16px;
           }
           h4{
              font-size: 15px;
           }
           h5{
              font-size: 14px;
           }
           h6{
              font-size: 13px;
           }
           p,li,a{
              font-size: 13px;
           }
           span{
              font-size: 13px;
           }
           input{
              font-size: 14px;
           }
           button{
              font-size: 13px;
           }
           
           strong{
              font-size: 12px;
           }
           b{
              font-size: 12px;
           }
           small{
            font-size: 10px;
           }
   }
    :root {
        --main: rgb(160, 53, 53)	;
        --main2:rgb(255, 228, 228) ;
        --chatwidth:90%;
       
        
      }
 
body{
 position: relative;
margin: 0;
padding: 0;

  box-sizing: border-box;
 
 max-width: 100vw;
 overflow-x: hidden;

 


 
 

 }
 .contall1{
  width: 100vw;
 }
 .App{
 
  max-width: 100vw;
  overflow-x:hidden;
 }

 
*{ 
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  scroll-behavior: smooth;
 
  }
  .gm-style .place-card-large {
    display: none;
  }