
    :root {
        --main: rgb(160, 53, 53)	;
        --main2:rgb(255, 228, 228) ;
        --chatwidth:90%;
       
        
      }
 
body{
 position: relative;
margin: 0;
padding: 0;

  box-sizing: border-box;
 
 max-width: 100vw;
 overflow-x: hidden;
 margin-left: 0;
 


 
 

 }
 .contall1{
  width: 100vw;
 }
 .App{
 
  max-width: 100vw;
  overflow-x:hidden;
 }
 
*{ 
  
  
  
  scroll-behavior: smooth;
 
  }
  .gm-style .place-card-large {
    display: none;
  }