
    :root {
        --main: rgb(160, 53, 53)	;
        --main2:rgb(255, 228, 228) ;
        --chatwidth:90%;
       
        
      }

body{
 
margin: 0;
padding: 0;
 
  box-sizing: border-box;
 overflow-x: hidden;
 
 


 
 

 }
 .contall1{
  width: 100vw;
 }
 .App{
 
  width: 100vw;
  overflow: hidden;
 }
 
*{ 
  
  
  
  scroll-behavior: smooth;
 
  }
  .gm-style .place-card-large {
    display: none;
  }