 h1{
font-size: 50px;
 }
 h2{
    font-size: 50px;
 }
 h3{
    font-size: 50px;
 }
 h4{
    font-size: 50px;
 }
 h5{
    font-size: 50px;
 }
 h6{
    font-size: 50px;
 }
 p{
    font-size:50px;
 }
 span{
    font-size:50px;
 }
 input{
    font-size: 50px;
 }
 button{
    font-size: 50px;
 }
 strong{
    font-size: 50px;
 }
 b{
    font-size: 50px;
 }
 @media  (max-width:660px) {
    h1{
        font-size: 15px;
         }
         h2{
            font-size: 15px;
         }
         h3{
            font-size: 15px;
         }
         h4{
            font-size: 15px;
         }
         h5{
            font-size: 15px;
         }
         h6{
            font-size: 15px;
         }
         p{
            font-size: 15px;
         }
         span{
            font-size: 15px;
         }
         input{
            font-size: 15px;
         }
         button{
            font-size: 15px;
         }
         strong{
            font-size: 15px;
         }
         b{
            font-size: 15px;
         }
 }